/* BROWSER RESET */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	background: white;
	line-height: 1;
	color: black;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}

/* GLOBAL CSS VARIABLES */
:root {
    /* BRAND COLORS */
        --primary: #660066;
        --secondary: #999999;
        --ternary: #ffffff;
        --quaternary: #f3f3f3;
    /* FONT COLORS */
        --main-text: #1a1a1a; 
    /* BUTTONS */
        --main-button: #2b6bdb;
        --go-button: #06b514;
        --caution-button: #ff9933;
        --stop-button: #e60000;
    /* SHADOWS */ 
        --shadow-small: 0px 7px 20px 0px rgb(26 41 60 / 39%);
        --shadow-med: 0px 30px 60px 0px rgb(25 33 43 / 26%);
        --shadow-large: 0px 50px 110px 0px rgb(0 0 0 / 43%);
    /* PADDING */
}

/* FONT SETTINGS */
html {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
h1 {
    font-weight: 700;
    font-size: 3.2rem;
    color: var(--main);
    line-height: 4.3rem;
    word-spacing: 0.6rem;
    margin-bottom: 4.6rem;
    text-transform: capitalize;
}
h2 {
    font-weight: 700;
    font-size: 2.25rem;
    color: var(--main);
    line-height: 2.8rem;
    word-spacing: 0.4rem;
    margin-bottom: 2.5rem;
    text-transform: capitalize;
}
h3 {
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--secondary);
    line-height: 1.8rem;
    word-spacing: 0.3rem;
    margin-bottom: 0.8rem;
}
h4 {
    font-weight: 700;
    font-size: 0.8rem;
    color: var(--main-text);
    line-height: 1.2rem;
    word-spacing: 0.1rem;
    margin-bottom: 0.8rem;
}
h5 {
    font-weight: 700;
    font-size: 0.6rem;
    color: var(--main-text);
    line-height: 1rem;
    word-spacing: 0.05rem;
    margin-bottom: 0.8rem;
}
p {
    font-weight: 400;
    font-size: 1rem;
    color: var(--main);
    line-height: 2rem;
    word-spacing: 0.1rem;
    margin-bottom: 1.8rem;
}
.subheading-01 {
    font-weight: 300;
    font-size: 1.6rem;
    color: var(--secondary);
    font-style: italic;
}
.main-text {
    color: var(--main-text);
}
.white-text {
    color: #ffffff;
}
.primary-text {
    color: var(--primary);
}
.secondary-text {
    color: var(--secondary);
}
.go-text {
    color: var(--go-button);
}
.caution-text {
    color: var(--caution-button);
}
.stop-text {
    color: var(--stop-button);
}
.center-text {
    text-align: center;
}
.small-text-01 {
    color: var(--main-text);
    font-size: 16px;
    font-weight: 400;
}
.primary-selection {
    color: var(--go-button);
    font-weight: 700;
}
.button-link-text {
    text-decoration: none;
}
.location-list-text {
    padding: 0.3rem 0rem;
}
.heading-primary {
    color: var(--primary);
}
.membership-features {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
}
.callout {
    padding: 1.8rem 3rem;
    background: rgb(0,35,78);
    background: linear-gradient(37deg, rgba(0,35,78,1) 31%, rgba(171,186,211,1) 93%);
    border-radius: 0.5rem;
    max-width: 720px;
    box-shadow: var(--shadow-large);
    color: var(--ternary);
    line-height: 2rem;
    word-spacing: 0.1rem;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 3.6rem auto;
}
.primary-location {
    background-color: var(--go-button);
    color: var(--ternary);
    padding: 1.25rem 0.8rem;
    border-radius: 4px;
}
.aux-location {
    background-color: var(--secondary);
    padding: 1.25rem 0.8rem;
    border-radius: 4px;
}

/* COLOR CLASSES */
.primary {
    background-color: var(--primary);
}
.secondary {
    background-color: var(--secondary);
}
.ternary {
    background-color: var(--ternary);
}
.quaternary {
    background-color: var(--quaternary);
}
.major-alert {
    background-color: var(--stop-button);
}
.dark {
    background-color: var(--main-text);
}

/* NAVIGATION */
.main-nav-mobile-01 {
    display: none;
}
.main-nav-mobile-02 {
    display: none;
}
.nav-container-center {
    display: flex;
    justify-content: space-between;
    width: 1150px;
    margin: auto;
    box-sizing: border-box;
}
.nav-logo-container-desktop {
    width: 120px;
}
.nav-link-container-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-admin-link-container-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
}
.nav-ul-desktop {
    list-style-type: none;
    margin: 0rem;
    padding: 0rem;
    display: flex;
    align-items: center;
}
.nav-admin-ul-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    list-style-type: none;
    margin: 0rem;
    padding: 0rem;
}
.nav-admin-li-desktop {
    display: inline-block;
    padding-bottom: 7px;
}
.nav-admin-link-desktop {
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: 700;
    color: var(--ternary);
}
.nav-li-desktop {
    display: inline-block;
    margin-left: 1.4rem;
}
.nav-link-desktop {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--primary);
}

/* LAYOUT */
html {
    width: 100%;
    box-sizing: border-box;
}
.genesis-container {
    background-color: var(--ternary);
}
.genesis-container-fixed-nav {
    background-color: var(--ternary);
    padding-top: 100px;
}
.flex-container {
    display: flex;
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.system-modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(102, 0, 102, 0.9);
    z-index: 50000;
}
.show-modal {
    display: flex;
}
.modal-close-icon {
    margin-bottom: 10px;
    color: var(--ternary);
    cursor: pointer;
}
.modal-content {
    width: 680px;
    padding: 1rem;
    background-color: var(--primary);
    box-shadow: var(--shadow-small);
    border-radius: 5px;
}
.modal-message-window-receive {
    width: 100%;
    height: 100px;
    overflow: auto;
    background-color: var(--ternary);
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    margin-bottom: 2rem;
    font-size: 0.8rem;
}
.modal-note-window-display {
    width: 100%;
    height: 400px;
    overflow: auto;
    background-color: var(--ternary);
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    margin-bottom: 2rem;
    font-size: 0.8rem;
}
.modal-form {
    height: 280px;
}
textarea.modal-textarea {
    height: 100px;
}
.main-body-content {
    padding: 3rem 0rem;
}
.content-container-center {
    width: 1150px;
    margin: 0rem auto;
}
.wysiwyg-container {
    margin-bottom: 2rem;
}
.overdue-one {
    padding: 0.25rem 1rem;
    margin-left: 0.25rem;
    border-radius: 5px;
}
.margin-auto {
    margin: auto;
}
nav.main-nav-desktop-01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    box-shadow: var(--shadow-med);
}
nav.main-nav-desktop-02 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--ternary);
    box-shadow: var(--shadow-med);
}
nav.admin-nav-desktop-02 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 100px;
    left: 0px;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--primary);
    box-shadow: var(--shadow-small);
}
ul.date-ul {
    list-style-type: none;
    margin: 0rem;
    padding: 0rem;
}
li.date-li {
    display: inline-block;
    padding: 0rem 1rem;
}
section {
    padding: 6rem 1rem 4.6rem 1rem;
}
.section-type-01 {
    display: flex;
}
.fluid-image {
    width: 100%;
    height: auto;
}
.button-01 {
    padding: 1rem 1.5rem;
    border-radius: 0.25rem;
    border: 3px solid var(--primary);
    background-color: var(--primary);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
}
.button-01:hover {
    cursor: pointer;
}
.button-01-dark {
    padding: 1rem 1.5rem;
    border-radius: 0.25rem;
    border: 3px solid var(--main-text);
    background-color: var(--main-text);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
}
.button-01-dark:hover {
    cursor: pointer;
}
.button-02 {
    padding: 1rem 1.5rem;
    border-radius: 0.25rem;
    border: 3px solid var(--primary);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    color: var(--primary);
}
.button-02:hover {
    cursor: pointer;
}
.button-03 {
    padding: 6px 10px;
    border-radius: 4px;
    border: 3px solid var(--primary);
    background-color: var(--primary);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
}
.button-03:hover {
    cursor: pointer;
}
.small-button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.small-button:hover {
    cursor: pointer;
}
.respond-button {
    width: 92px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    background-color: var(--primary);
    color: var(--ternary);
}
.respond-button:hover {
    cursor: pointer;
}
.custom-table-container-01 {
    min-width: 780px;
    overflow-x: auto;
}
.custom-table-heading-01 {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    color: var(--quaternary);
    padding: 1rem 0.5rem;
    text-transform: uppercase;
}
.table-row-content-container-date {
    min-width: 86px;
}
.table-row-content-container-type {
    min-width: 120px;
}
.table-row-content-container-vendor {
    min-width: 260px;
    padding-left: 20px;
    box-sizing: border-box;
}
.table-row-content-container-item {
    min-width: 548px;
}
.table-row-content-container-qty {
    min-width: 105px;
}
.table-row-content-container-price {
    min-width: 120px;
    padding-left: 20px;
    box-sizing: border-box;
}
.table-row-content-container-booking {
    min-width: 980px;
}
.custom-table-row-01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0.5rem;
    border-left: solid 1px #000000;
    border-right: solid 1px #000000;
    border-bottom: solid 1px #000000;
    box-sizing: border-box;
}
.divider {
    border-top: #999999;
    margin: 1rem 0rem;
}
.spacer-10px {
    padding: 5px 0px;
}
.icon-primary {
    width: 26px;
}
.spacer-1rem {
    padding: 0.5rem 0rem;
}
.full-width {
    width: 100%;
}
.search-select-small {
    width: 174px;
}
.listing-search-header {
    width: 1150px;
    border-bottom: 1px solid #d9d9d9;
}
.listing-content-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    padding: 2rem 0rem;
}
.listing-card {
    width: 274px;
    height: 584px;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 0.25rem;
    box-shadow: 0px 1px 13px rgb(0 0 0 / 10%);
    margin: 0rem 6.75px 2rem 6.75px;
}
.listing-card2 {
    width: 274px;
    height: 184px;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 0.25rem;
    box-shadow: 0px 1px 13px rgb(0 0 0 / 10%);
    margin: 0rem 6.75px 2rem 6.75px;
}
.listing-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background-color: #333333;
    margin-bottom: 14px;
    border-radius: 0.25rem;
}
#listing-image {
    width: 250px;
    max-height: 250px;
}
.listing-card-vendor-name-container {
    height: 36px;
    margin-bottom: 16px;
}
.listing-card-vendor-name {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    word-spacing: 2px;
}
.listing-card-vendor-name-link {
    text-decoration: none;
}
.listing-card-vendor-rating-container {
    display: flex;
    align-items: center;
}
.listing-card-review-info {
    display: flex;
    align-items: center;
}
.listing-card-star-rating {
    width: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.review-star-full-small {
    width: 10px;
}
.review-star-count {
    font-size: 14px;
    font-weight: 700;
    margin-right: 5px;
}
.review-counter {
    font-size: 12px;
}
.listing-card-ul-01 {
    margin: 1rem 0rem;
}
.listing-card-li-01 {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: var(--secondary);
    padding: 4px 6px;
    background-color: var(--quaternary);
    border-radius: 15px;
    margin: 6px 0px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.listing-card-li-icon {
    width: 14px;
    margin-right: 5px;
}
.listing-card-text-box {
    height: 80px;
    margin-bottom: 24px;
}
.listing-card-description-text {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 24px;
}
.listing-card-footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
}
.vendor-list-photo {
    width: 60px;
    height: 60px;
    border-radius: 50% 50%;
    background-color: var(--quaternary);
}
.message-screen {
    width: 100%;
    height: 600px;
    background-color: var(--ternary);
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    overflow-y: auto;
    box-sizing: border-box;
}
.message-container {
    display: flex;
    width: 100%;
    padding-bottom: 80px;
}
.message-sidebar {
    width: 80px;
}
.message-profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50% 50%;
    background-color: var(--quaternary);
}
.message-display-body {
    padding: 0px 20px;
    box-sizing: border-box;
}
.message-date-container {
    margin-bottom: 80px;
}
.date-button {
    width: 170px;
    padding: 0.5rem 0rem;
    margin: auto;
    background-color: var(--primary);
    color: var(--ternary);
    text-align: center;
    border-radius: 4px;
}
.pagination-container {
    display: flex;
    justify-content: right;
    width: 1150px;
    flex-wrap: wrap;
    margin: auto;
}
.pagination-link-current {
    padding: 8px 14px;
    background-color: var(--primary);
    border-radius: 4px;
    color: var(--ternary);
    margin: 0rem 10px;
}
.pagination-link {
    padding: 8px 14px;
    background-color: var(--secondary);
    border-radius: 4px;
    color: var(--ternary);
}
footer {
    padding: 2rem 1rem;
    background-color: var(--primary);
}
.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-logo-container {
    width: 340px;
    height: 100px;
}
.footer-logo-container img {
    border-radius: 4px;
}
.footer-main-link-container {
    width: 460px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-link-container {
    color: var(--ternary) !important;
}
.footer-social-media-container {
    width: 340px;
    height: 100px;
    display: flex;
    justify-content: right;
}
.social-media {
    width: 142px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.social-media img {
    width: 30px;
}
.footer-ul-01 {
    list-style-type: none;
}
.footer-ul-01 li {
    padding: 5px 0px;
}
.footer-ul-01 li a {
    text-decoration: none;
    color: var(--ternary);
    font-size: 0.8rem;
}
.copyright-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2rem;
    text-align: center;
}

/* FORMS */
.full-width-form {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 12px;
    background-color: var(--quaternary);
    border-radius: 4px;
    margin-bottom: 2rem;
}
.form-input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}
.form-input-search {
    width: 360px;
}
.form-input-search-full-width {
    width: 100%;
}
.input-label {
    font-size: 14px;
    font-weight: 700;
}
.search-input {
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    width: 100%;
    font-size: 0.75rem;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background-color: var(--ternary);
}
.search-input-mini {
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    width: 120px;
    font-size: 0.75rem;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background-color: var(--ternary);
}
select {
    width: 200px;
    padding: 8px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}
option {
    padding: 8px 4px;
}
.select-option-01 {
    padding: 0.5rem 0rem;
    border-bottom: 1px solid #d9d9d9;
}
.form-submit-container {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}
.form-submit-container-modal {
    display: flex;
    justify-content: center;
}
.form-submit-container input {
    cursor: pointer;
    font-size: 1rem;
}
#profile-photo {
    width: 360px;
}
.profile-state-zip {
    display: flex;
    justify-content: space-between;
}
.profile-contact-info {
    width: 340px;
}


/* AD SPACE */
.ad-space-type01-desktop {
    width: 160px;
    height: 600px;
    background-color: var(--quaternary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

/* VENDOR PROFILE */
.vendor-profile-header-container {
    display: flex;
    justify-content: space-between;
}
.vendor-profile-main-photo {
    width: 766px;
    height: 511px;
    background-color: #111;
}
.edit-vendor-profile-main-photo {
    width: 766px;
    height: 511px;
    background-color: #111;
    margin: 0px auto 4rem auto;
}
.vendor-profile-main-overview {
    width: 360px;
    height: 511px;
}
.profile-header-title {
    width: 100%;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.5rem;
}
.profile-header-title-client {
    width: 100%;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 0.5rem;
}
.profile-sub-header {
    width: 100%;
    text-align: center;
}
.profile-header-reviews {
    display: flex;
    justify-content: center;
}
.profile-header-star-container {
    margin-right: 2rem;
}
.review-star-full {
    width: 20px;
}
.profile-header-icon-description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.overview-icon-text {
    margin-left: 1rem;
}
.vendor-profile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
.profile-nav-link {
    font-weight: 700;
    color: var(--secondary);
    cursor: pointer;
}
.profile-section {
    padding: 2rem 0rem;
}
.service-card {
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    box-shadow: var(--shadow-small);
    margin-bottom: 3rem;
}
.service-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.75rem;
    background-color: var(--primary);
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    padding-top: 1.75rem;
}
.service-body {
    box-sizing: border-box;
    padding: 1rem 1.75rem;
    height: 441px;
}
.service-date-listing {
    display: flex;
    flex-wrap: wrap;
}
.service-date-container {
    width: 108px;
    text-align: center;
}
.service-date-container-small {
    width: 80px;
    text-align: center;
}
.service-footer {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 1rem 1.75rem;
}
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.photo-thumbnail-container {
    width: 300px;
    height: 200px;
    background-color: #111111;
    margin-bottom: 2rem;
    cursor: pointer;
}
.audio-thumbnail-container {
    width: 300px;
    height: 300px;
    background-color: #111111;
    margin-bottom: 2rem;
}
.main-review-heading-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}
.main-review-heading {
    font-weight: 700;
}
#profile-photo {
    padding: none;
    margin: none;
}
.profile-location-li {
    padding: 0.25rem 0rem;
    font-size: 0.6rem;
}
.profile-location-li-zip {
    padding: 0.25rem 0rem;
    font-size: 0.6rem;
    margin-bottom: 3rem;
}
.profile-location-li a {
    color: var(--ternary);
}
.multicolumn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 4rem ;
}
#vendor-overview-submit {
    cursor: pointer;
}
#starting-fee {
    margin-left: 8px;
}
#service-price {
    margin-left: 8px;
}
/* SETTINGS */
.list-container {
    width: 360px;
    max-height: 260px;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: var(--ternary);
    padding: 1rem 1.5rem;
    font-size: 0.75rem;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}
.list-container-full-width {
    width: 100%;
    max-height: 260px;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: var(--ternary);
    padding: 1rem 1.5rem;
    font-size: 0.75rem;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}
.list-container-tall {
    width: 360px;
    max-height: 355px;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: var(--ternary);
    padding: 1rem 1.5rem;
    font-size: 0.75rem;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}
.category-li {
    padding: 0.5rem 0rem;
    border-bottom: 1px solid #d9d9d9;
}
.full-width-textarea {
    width: 100%;
    height: 200px;
    border: 1px solid #d9d9d9;
}
.multi-button-container {
    display: flex;
    justify-content: space-between;
}
/* SHOPPING CART MODAL */
.shopping-cart-modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(102, 0, 102, 1);
    position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopping-cart-container {
    width: 360px;
    height: 540px;
    padding: 2rem 1.4rem;
    box-sizing: border-box;
    background-color: var(--ternary);
    border-radius: 4px;
    overflow: auto;
    box-shadow: 0px 0px 120px 0px rgb(0 0 0 / 93%);
}
.shopping-cart {
    width: auto;
    height: 60px;
}
#close-shopping-cart {
    cursor: pointer;
}
.shopping-cart-description-text {
    font-size: 16px;
}
#navbar-shopping-cart {
    width: auto;
    height: 50px;
}
#cart-icon-container {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    background-image: url("../images/shopping-cart-01.png");
    background-size: 50px;
    padding-top: 9px;
    cursor: pointer;
}
#cart-quantity-text {
    width: 30px;
    margin-left: 20px;
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    color: var(--caution-button);
}

@media all and (max-width: 1199px) {
    .nav-container-center {
        width: 718px;
    }
    .nav-logo-container-desktop {
        width: 120px;
    }
    .nav-link-desktop {
        font-size: 0.63rem;
    }
}

@media all and (max-width: 991px) {
    .main-nav-desktop-01 {
        display: none !important;
    }
    .main-nav-desktop-02 {
        display: none !important;
    }
    /* .main-nav-mobile-01 {
        display: flex;
        align-items: center;
        width: 100%;
        height: 80px;
        box-shadow: var(--shadow-med); 
    } */
    .main-nav-mobile-02 {
        display: flex;
        position: fixed;
        top: 0px;
        left: 0px;
        align-items: center;
        width: 100%;
        height: 80px;
        background-color: var(--ternary);
        box-shadow: var(--shadow-med); 
    }
    .nav-container-center-mobile {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: auto;
    }
    .nav-logo-container-mobile {
        width: 100px;
    }
    .nav-link-container-mobile {
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .burger-nav-container {
        height: 30px;
    }
    span.burger-nav-line {
        display: block;
        height: 5px;
        width: 40px;
        background-color: var(--primary);
    }
    .center-burger-nav-line {
        margin: 7px 0px;
    }
    .content-container-center {
        width: 100%;
    }
}

@media all and (max-width: 768px) {
    .service-date-listing {
        justify-content: center;
    }
}

@media all and (max-width: 576px) {
    .nav-container-center-mobile {
        display: flex;
        justify-content: space-between;
        width: 94%;
        margin: auto;
    }
}